In [1]:
import pandas as pd

In [2]:
import pandas as pd

football = pd.read_csv('data/data_sf.csv', index_col=[0])
# display(football.head())
football.head()

,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,70,...,75,96,33,28,26,6,11,15,14,8
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,89,...,85,95,28,31,23,7,11,15,14,11
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,62,...,81,94,27,24,33,9,9,15,15,11
3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,21,...,40,68,15,21,13,90,85,87,88,94
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,55,...,79,88,68,58,51,15,13,5,10,13

In [3]:
football.columns

Index(['Name', 'Age', 'Nationality', 'Club', 'Value', 'Wage', 'Position',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'],
      dtype='object')

In [8]:
grouped_df = football.groupby(['Club']).sum()
grouped_df

,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,609,15195000,90000,1104,944,1283,1362,944,1196,1005,...,1042,1332,1205,1146,1088,405,406,368,409,424
1. FC Heidenheim 1846,473,18290000,76000,961,860,955,1136,846,1040,904,...,923,1093,888,952,890,335,317,287,335,306
1. FC Kaiserslautern,544,11195000,33000,1106,918,1133,1272,899,1131,1035,...,1030,1174,938,989,996,392,373,348,368,356
1. FC KÃ¶ln,225,46810000,92000,444,357,434,567,320,486,418,...,431,515,453,458,452,272,251,276,252,268
1. FC Magdeburg,515,57525000,84000,948,903,1044,1157,769,1024,853,...,938,1057,933,930,892,367,373,354,361,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZagÅ‚Ä™bie Sosnowiec,656,6815000,27000,1161,1007,1152,1357,979,1252,1046,...,1113,1371,1219,1187,1156,427,391,417,391,413
Ã‡aykur Rizespor,557,27515000,118000,1110,921,1137,1290,888,1233,1069,...,1063,1200,1050,1155,1143,375,394,387,388,389
Ã–rebro SK,622,8465000,36000,1114,974,1149,1311,965,1270,1147,...,1066,1393,1112,1045,1008,412,406,386,428,407
Ã–stersunds FK,478,11030000,39000,944,805,856,1109,801,1066,967,...,847,1132,920,842,816,342,357,369,337,363
ÅšlÄ…sk WrocÅ‚aw,628,9170000,50000,1058,1054,1289,1313,988,1238,981,...,1150,1314,1047,1161,1129,408,403,367,394,403

,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,44.264403,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,17.781283,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,32.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,45.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,58.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,93.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [12]:
grouped_df.loc['Ajax']['Wage']

158000

In [14]:
grouped_df = football.groupby(['Club'])['Wage'].sum().sort_values(ascending=False)
print(grouped_df.head(5))

Club
Real Madrid          4138000
FC Barcelona         3967000
Manchester City      3097000
Manchester United    2357000
Juventus             2335000
Name: Wage, dtype: int64

In [20]:
grouped_df = football.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
grouped_df[grouped_df > 5000000]
# grouped_df

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
Name: Wage, dtype: int64

In [27]:
grouped_df = football.groupby(['Position'])[['Wage', 'Value']].mean().sort_values(['Value'],ascending=False)
grouped_df.head(5)

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06

In [35]:
grouped_df = football.groupby(['Club'])['Wage'].agg(['mean', 'median'])[lambda a: a['mean'] == a['median']]
grouped_df

                           mean  median
Club
1. FC Magdeburg          4000.0    4000
AEK Athens               1000.0    1000
AJ Auxerre               2000.0    2000
Benevento                2000.0    2000
Bohemian FC              1000.0    1000
BoyacÃ¡ ChicÃ³ FC          1000.0    1000
Bray Wanderers           1000.0    1000
BrÃ¸ndby IF               6000.0    6000
CD Feirense              4000.0    4000
CD Tondela               2000.0    2000
Cork City                1000.0    1000
Cruzeiro                13000.0   13000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Dynamo Kyiv              1000.0    1000
Envigado FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
FC Metz                  1500.0    1500
Grimsby Town             2000.0    2000
GÃ¶ztepe SK               7000.0    7000
HJK Helsinki             1000.0    1000
Heracles Almelo          2000.0    2000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
ItagÃ¼Ã­ Leones FC         1000.0    1000
Jaguares de CÃ³rdoba      1000.0    1000
Jeonnam Dragons          2000.0    2000
Kaizer Chiefs            1000.0    1000
Kashiwa Reysol           2000.0    2000
Limerick FC              1000.0    1000
Lokomotiv Moscow         1000.0    1000
Northampton Town         2500.0    2500
Olympiacos CFP           1000.0    1000
Orlando Pirates          1000.0    1000
PAOK                     1000.0    1000
PFC CSKA Moscow          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas BoyacÃ¡ FC      1000.0    1000
Philadelphia Union       2000.0    2000
Pohang Steelers          2000.0    2000
SK Slavia Praha          1000.0    1000
Shakhtar Donetsk         1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Stade Brestois 29        2000.0    2000
Sunderland               4000.0    4000
Trelleborgs FF           1000.0    1000
Viktoria PlzeÅˆ           1000.0    1000

In [55]:
grouped_df = football.groupby(['Club'])['Wage'].agg(['mean', 'median'])[lambda a: a['mean'] == a['median']]['mean']
grouped_df.max(),grouped_df.idxmax()

(13000.0, 'Cruzeiro')

In [56]:
grouped_df = football.groupby(['Club'])['Wage'].agg(['sum']) #[lambda a: a['mean'] == a['median']]['mean']
grouped_df

                          sum
Club
 SSV Jahn Regensburg    90000
1. FC Heidenheim 1846   76000
1. FC Kaiserslautern    33000
1. FC KÃ¶ln              92000
1. FC Magdeburg         84000
...                       ...
ZagÅ‚Ä™bie Sosnowiec      27000
Ã‡aykur Rizespor        118000
Ã–rebro SK               36000
Ã–stersunds FK           39000
ÅšlÄ…sk WrocÅ‚aw           50000

[650 rows x 1 columns]

In [66]:
grouped_df.loc['Chelsea']

sum    2035000
Name: Chelsea, dtype: int64

In [64]:
grouped_df[lambda a: a > 5000000]

                       sum
Club
 SSV Jahn Regensburg   NaN
1. FC Heidenheim 1846  NaN
1. FC Kaiserslautern   NaN
1. FC KÃ¶ln             NaN
1. FC Magdeburg        NaN
...                    ...
ZagÅ‚Ä™bie Sosnowiec     NaN
Ã‡aykur Rizespor        NaN
Ã–rebro SK              NaN
Ã–stersunds FK          NaN
ÅšlÄ…sk WrocÅ‚aw          NaN

[650 rows x 1 columns]

In [79]:
football[(football['Nationality'] == 'Argentina') & (football['Club'] == 'FC Barcelona')][['Strength','Balance']]

   Strength  Balance
0        59       95