In [1]:
import pandas as pd

In [2]:
import pandas as pd

football = pd.read_csv('data/data_sf.csv', index_col=[0])
# display(football.head())
football.head()

,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,70,...,75,96,33,28,26,6,11,15,14,8
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,89,...,85,95,28,31,23,7,11,15,14,11
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,62,...,81,94,27,24,33,9,9,15,15,11
3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,21,...,40,68,15,21,13,90,85,87,88,94
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,55,...,79,88,68,58,51,15,13,5,10,13

In [3]:
football.columns

Index(['Name', 'Age', 'Nationality', 'Club', 'Value', 'Wage', 'Position',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'],
      dtype='object')

In [5]:
small_df = football[football.columns[1:8]].head(25)
small_df

    Age Nationality                 Club      Value    Wage Position  Crossing
0    31   Argentina         FC Barcelona  110500000  565000       RF        84
1    33    Portugal             Juventus   77000000  405000       ST        84
2    26      Brazil  Paris Saint-Germain  118500000  290000       LW        79
3    27       Spain    Manchester United   72000000  260000       GK        17
4    27     Belgium      Manchester City  102000000  355000      RCM        93
5    27     Belgium              Chelsea   93000000  340000       LF        81
6    32     Croatia          Real Madrid   67000000  420000      RCM        86
7    31     Uruguay         FC Barcelona   80000000  455000       RS        77
8    32       Spain          Real Madrid   51000000  380000      RCB        66
9    25    Slovenia      Atlético Madrid   68000000   94000       GK        13
10   29      Poland    FC Bayern München   77000000  205000       ST        62
11   28     Germany          Real Madrid   76500000  355000      LCM        88
12   32     Uruguay      Atlético Madrid   44000000  125000       CB        55
13   32       Spain      Manchester City   60000000  285000      LCM        84
14   27      France              Chelsea   63000000  225000      LDM        68
15   24   Argentina             Juventus   89000000  205000       LF        82
16   24     England    Tottenham Hotspur   83500000  205000       ST        75
17   27      France      Atlético Madrid   78000000  145000      CAM        82
18   26     Germany         FC Barcelona   58000000  240000       GK        15
19   26     Belgium          Real Madrid   53500000  240000       GK        14
20   29       Spain         FC Barcelona   51500000  315000      CDM        62
21   31     Uruguay  Paris Saint-Germain   60000000  200000       LS        70
22   32     Germany    FC Bayern München   38000000  130000       GK        15
23   30   Argentina      Manchester City   64500000  300000       ST        70
24   33       Italy             Juventus   27000000  215000      LCB        58

In [7]:
s=small_df['Nationality'].value_counts()
s

Spain        4
Uruguay      3
Belgium      3
Argentina    3
Germany      3
France       2
Slovenia     1
Brazil       1
Portugal     1
Poland       1
Croatia      1
Italy        1
England      1
Name: Nationality, dtype: int64

In [8]:
s.index

Index(['Spain', 'Uruguay', 'Belgium', 'Argentina', 'Germany', 'France',
       'Slovenia', 'Brazil', 'Portugal', 'Poland', 'Croatia', 'Italy',
       'England'],
      dtype='object')

In [10]:
len(football['Club'].value_counts())

650

In [11]:
c = football['Club'].value_counts()
c

V-Varen Nagasaki     30
Shonan Bellmare      30
Vissel Kobe          29
FC Emmen             29
De Graafschap        29
                     ..
FC Metz               8
GD Chaves             7
Dinamo Zagreb         7
Vitória Guimarães     7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [12]:
c[c == c.max()]

V-Varen Nagasaki    30
Shonan Bellmare     30
Name: Club, dtype: int64

In [13]:
c[c == c.min()]

Atlético Mineiro    6
Name: Club, dtype: int64

In [14]:
small_df['Nationality'].value_counts(normalize=True)

Spain        0.16
Uruguay      0.12
Belgium      0.12
Argentina    0.12
Germany      0.12
France       0.08
Slovenia     0.04
Brazil       0.04
Portugal     0.04
Poland       0.04
Croatia      0.04
Italy        0.04
England      0.04
Name: Nationality, dtype: float64

In [16]:
p = football['Position'].value_counts(normalize=True)
p

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [17]:
p[p>0.1]

GK    0.127239
ST    0.117237
CB    0.108785
Name: Position, dtype: float64

In [19]:
p[p<0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [20]:
b = small_df['Wage'].value_counts(bins=4)
display(b)

(211750.0, 329500.0]     9
(93528.999, 211750.0]    8
(329500.0, 447250.0]     6
(447250.0, 565000.0]     2
Name: Wage, dtype: int64

In [21]:
small_df.loc[(small_df['Wage'] > b.index[3].left) & (small_df['Wage'] <= b.index[3].right)]

   Age Nationality          Club      Value    Wage Position  Crossing
0   31   Argentina  FC Barcelona  110500000  565000       RF        84
7   31     Uruguay  FC Barcelona   80000000  455000       RS        77

In [24]:
football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [25]:
football['FKAccuracy'].value_counts(bins=5).index.max()

Interval(75.8, 94.0, closed='right')

In [33]:
df = football
df['Position'].value_counts().reset_index()

   index  Position
0     GK      1641
1     ST      1512
2     CB      1403
3     CM      1067
4     LB      1002
5     RB       948
6     RM       766
7     LM       728
8    CDM       691
9    CAM       633
10   RCB       418
11   LCB       409
12    LW       242
13   RCM       240
14    RW       237
15   LCM       233
16   LDM       148
17   RDM       138
18    LS       121
19    RS       114
20   RWB        70
21   LWB        60
22    CF        51
23    LF         8
24   LAM         6
25    RF         6
26   RAM         5

In [43]:
football[football['Nationality']=='Spain']['Wage'].value_counts(bins=4).min() /\
football[football['Nationality']=='Spain']['Name'].count()

0.004470938897168405

In [44]:
football[football['Nationality']=='Spain']['Wage'].value_counts(bins=4)

(620.999, 95750.0]      651
(95750.0, 190500.0]      11
(190500.0, 285250.0]      6
(285250.0, 380000.0]      3
Name: Wage, dtype: int64

In [45]:
football[football['Nationality']=='Spain']['Wage'].value_counts(bins=4).index.min()

Interval(620.999, 95750.0, closed='right')

In [46]:
650 / football[football['Nationality']=='Spain']['Name'].count()

0.9687034277198212

In [49]:
football[football['Club']=="Manchester United"]['Nationality'].nunique()

13

In [51]:
football[(football['Nationality']=='Brazil') & (football['Club']=="Juventus")]['Name'].to_list()

['Alex Sandro', 'Douglas Costa']

In [56]:
football[football['Age'] > 35]['Club'].value_counts()

Hokkaido Consadole Sapporo     4
Club Atlético Huracán          4
Gimnasia y Esgrima La Plata    3
Club Atlético Talleres         3
Morecambe                      3
                              ..
Pachuca                        1
Kristiansund BK                1
Brighton & Hove Albion         1
Patronato                      1
San Martin de Tucumán          1
Name: Club, Length: 212, dtype: int64

In [58]:
football[football['Nationality'] == 'Argentina']['Age'].value_counts(bins=4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [60]:
football[football['Nationality'] == 'Spain']['Age'].value_counts(normalize=True)*100

21    11.773472
22     9.538003
20     7.749627
23     7.153502
25     6.408346
27     6.259314
24     5.961252
28     5.365127
26     5.365127
29     4.769001
19     4.769001
18     3.874814
30     3.874814
31     3.278689
32     3.278689
33     3.129657
34     2.235469
17     1.341282
35     1.192250
36     1.043219
37     0.894188
39     0.298063
16     0.298063
38     0.149031
Name: Age, dtype: float64