In [1]:
import pandas as pd

In [15]:
import pandas as pd

football = pd.read_csv('data/data_sf.csv', index_col=[0])
# display(football.head())
football.head()

,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,70,...,75,96,33,28,26,6,11,15,14,8
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,89,...,85,95,28,31,23,7,11,15,14,11
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,62,...,81,94,27,24,33,9,9,15,15,11
3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,21,...,40,68,15,21,13,90,85,87,88,94
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,55,...,79,88,68,58,51,15,13,5,10,13

In [3]:
football.columns

Index(['Name', 'Age', 'Nationality', 'Club', 'Value', 'Wage', 'Position',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'],
      dtype='object')

In [6]:
football.loc[football['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])]

,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,70,...,75,96,33,28,26,6,11,15,14,8
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,89,...,85,95,28,31,23,7,11,15,14,11
3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,21,...,40,68,15,21,13,90,85,87,88,94
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,55,...,82,84,60,76,73,13,9,7,14,9
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,77,...,85,85,62,45,38,27,25,31,33,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,Dani Gómez,19,Spain,Real Madrid,800000,12000,ST,32,67,58,...,57,44,41,12,15,7,10,13,8,14
7536,J. Bohui,19,England,Manchester United,700000,10000,ST,45,62,51,...,64,57,20,16,16,9,7,10,13,11
8628,L. Zidane,20,France,Real Madrid,350000,9000,GK,12,8,12,...,19,36,13,11,13,65,60,61,62,61
8837,P. Beruatto,19,Italy,Juventus,575000,5000,LB,50,10,60,...,43,56,64,66,68,14,5,12,10,12
9226,Iñaki Peña,19,Spain,FC Barcelona,450000,4000,GK,10,6,11,...,17,38,9,10,11,63,57,64,57,62

In [7]:
football[football['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])]

,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,70,...,75,96,33,28,26,6,11,15,14,8
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,89,...,85,95,28,31,23,7,11,15,14,11
3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,21,...,40,68,15,21,13,90,85,87,88,94
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM,86,72,55,...,82,84,60,76,73,13,9,7,14,9
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,77,...,85,85,62,45,38,27,25,31,33,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,Dani Gómez,19,Spain,Real Madrid,800000,12000,ST,32,67,58,...,57,44,41,12,15,7,10,13,8,14
7536,J. Bohui,19,England,Manchester United,700000,10000,ST,45,62,51,...,64,57,20,16,16,9,7,10,13,11
8628,L. Zidane,20,France,Real Madrid,350000,9000,GK,12,8,12,...,19,36,13,11,13,65,60,61,62,61
8837,P. Beruatto,19,Italy,Juventus,575000,5000,LB,50,10,60,...,43,56,64,66,68,14,5,12,10,12
9226,Iñaki Peña,19,Spain,FC Barcelona,450000,4000,GK,10,6,11,...,17,38,9,10,11,63,57,64,57,62

In [9]:
df = football
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True)
display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [10]:
df2 = df.pivot_table(columns = 'Position', index = 'Club', values = 'Wage', aggfunc = 'max')
df2

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,NaN,5000.0,5000.0,NaN,4000.0,5000.0,NaN,6000.0,NaN,NaN,...,4000.0,8000.0,NaN,5000.0,NaN,NaN,NaN,NaN,NaN,3000.0
1. FC Heidenheim 1846,5000.0,7000.0,NaN,NaN,1000.0,4000.0,NaN,6000.0,6000.0,NaN,...,6000.0,3000.0,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,4000.0
1. FC Kaiserslautern,NaN,1000.0,1000.0,NaN,NaN,1000.0,NaN,2000.0,2000.0,NaN,...,2000.0,NaN,NaN,2000.0,NaN,2000.0,2000.0,NaN,NaN,1000.0
1. FC Köln,NaN,1000.0,10000.0,NaN,3000.0,25000.0,NaN,NaN,NaN,NaN,...,5000.0,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN,NaN
1. FC Magdeburg,NaN,7000.0,NaN,4000.0,NaN,6000.0,NaN,2000.0,5000.0,4000.0,...,NaN,3000.0,3000.0,NaN,NaN,5000.0,8000.0,4000.0,NaN,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,2000.0,1000.0,1000.0,NaN,NaN,1000.0,NaN,1000.0,1000.0,NaN,...,1000.0,1000.0,NaN,1000.0,NaN,1000.0,NaN,NaN,NaN,2000.0
Çaykur Rizespor,11000.0,11000.0,13000.0,NaN,NaN,3000.0,NaN,7000.0,4000.0,NaN,...,6000.0,NaN,NaN,10000.0,NaN,12000.0,NaN,NaN,NaN,2000.0
Örebro SK,NaN,2000.0,NaN,NaN,1000.0,2000.0,NaN,NaN,2000.0,2000.0,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,2000.0,1000.0,2000.0
Östersunds FK,1000.0,1000.0,NaN,3000.0,8000.0,1000.0,NaN,2000.0,3000.0,5000.0,...,1000.0,1000.0,NaN,NaN,NaN,2000.0,NaN,1000.0,NaN,1000.0
Śląsk Wrocław,NaN,1000.0,3000.0,NaN,1000.0,2000.0,NaN,3000.0,2000.0,NaN,...,2000.0,4000.0,NaN,3000.0,NaN,3000.0,4000.0,NaN,NaN,1000.0

In [13]:
# df2[df2.Club == 'Manchester City' and df2.Position == 'GK']
df2[df2.Club == 'Manchester City']

AttributeError: 'DataFrame' object has no attribute 'Club'

In [12]:
df2.loc['Manchester City']['GK']

125000.0

In [14]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Name'],
index=['Nationality'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot)

                           Name
Club               FC Barcelona Juventus Manchester United Real Madrid
Nationality
Argentina                     1        1                 2           0
Belgium                       1        0                 1           1
Bosnia Herzegovina            0        1                 0           0
Brazil                        2        2                 1           2
Chile                         1        0                 1           0
Costa Rica                    0        0                 0           1
Croatia                       1        1                 0           1
Dominican Republic            0        0                 0           1
Ecuador                       0        0                 1           0
England                       0        0                 6           0
France                        3        1                 2           3
Germany                       1        1                 0           1
Italy                         0        4                 1           0
Ivory Coast                   0        0                 1           0
Morocco                       0        1                 0           0
Netherlands                   1        0                 0           0
Poland                        0        1                 0           0
Portugal                      1        1                 0           0
Scotland                      0        0                 1           0
Serbia                        0        0                 1           0
Spain                         9        0                 1          11
Uruguay                       1        0                 0           0
Wales                         0        0                 1           1

In [21]:
pivot = df.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value=0)['Name']['GK'].mean()
display(pivot)

2.5246153846153847

In [22]:
pivot = df.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value=0) #['Name']['GK'].mean()
display(pivot)

                      Name                                 ...                 \
Position               CAM CB CDM CF CM GK LAM LB LCB LCM  ... RB RCB RCM RDM
Club                                                       ...
 SSV Jahn Regensburg     0  5   1  0  2  3   0  2   0   0  ...  2   1   0   1
1. FC Heidenheim 1846    1  3   0  0  1  2   0  2   1   0  ...  2   1   0   0
1. FC Kaiserslautern     0  3   3  0  0  3   0  2   1   0  ...  2   0   0   1
1. FC Köln               0  1   1  0  2  3   0  0   0   0  ...  1   0   0   0
1. FC Magdeburg          0  4   0  1  0  3   0  1   1   1  ...  0   1   1   0
...                    ... ..  .. .. .. ..  .. ..  ..  ..  ... ..  ..  ..  ..
Zagłębie Sosnowiec       3  2   2  0  0  3   0  3   1   0  ...  1   1   0   1
Çaykur Rizespor          1  2   5  0  0  3   0  2   1   0  ...  3   0   0   1
Örebro SK                0  4   0  0  1  3   0  0   1   1  ...  0   1   1   0
Östersunds FK            1  1   0  1  3  3   0  2   1   1  ...  1   1   0   0
Śląsk Wrocław            0  1   3  0  1  3   0  2   1   0  ...  2   1   0   1


Position              RF RM RS RW RWB ST
Club
 SSV Jahn Regensburg   0  0  0  0   0  3
1. FC Heidenheim 1846  0  3  0  0   0  2
1. FC Kaiserslautern   0  2  1  0   0  1
1. FC Köln             0  1  0  0   0  0
1. FC Magdeburg        0  3  1  2   0  1
...                   .. .. .. ..  .. ..
Zagłębie Sosnowiec     0  2  0  0   0  1
Çaykur Rizespor        0  1  0  0   0  1
Örebro SK              0  0  0  2   2  5
Östersunds FK          0  1  0  1   0  1
Śląsk Wrocław          0  2  1  0   0  2

[650 rows x 27 columns]

In [25]:
df.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value=0)['Name']['CM'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [30]:
df.pivot_table(values=['Wage'],
index=['Club'],
columns=['Nationality'],
aggfunc='sum',
fill_value=0).loc['AS Monaco']['Wage']['Russia']

61000

In [40]:
df.pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc='mean',
fill_value=0).sum()

             Position
SprintSpeed  CAM         28683.666667
             CB          34813.650000
             CDM         25722.166667
             CF           3081.000000
             CM          32903.516667
             GK          24337.616667
             LAM           458.000000
             LB          38741.833333
             LCB         23628.000000
             LCM         15021.000000
             LDM          9035.500000
             LF            607.000000
             LM          31816.750000
             LS           8525.833333
             LW          12672.116667
             LWB          3754.000000
             RAM           369.000000
             RB          37349.366667
             RCB         23803.500000
             RCM         15453.000000
             RDM          8508.500000
             RF            458.000000
             RM          32858.316667
             RS           8207.000000
             RW          13481.916667
             RWB          3598.666667
             ST          40601.647619
dtype: float64

In [41]:
df.pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc='mean',
fill_value=0)[]

                      SprintSpeed                                         \
Position                      CAM         CB        CDM    CF         CM
Club
 SSV Jahn Regensburg          0.0  46.600000  82.000000   0.0  61.000000
1. FC Heidenheim 1846        68.0  61.333333   0.000000   0.0  68.000000
1. FC Kaiserslautern          0.0  59.000000  65.666667   0.0   0.000000
1. FC Köln                    0.0  60.000000  32.000000   0.0  68.500000
1. FC Magdeburg               0.0  60.000000   0.000000  64.0   0.000000
...                           ...        ...        ...   ...        ...
Zagłębie Sosnowiec           73.0  46.500000  66.000000   0.0   0.000000
Çaykur Rizespor              74.0  58.000000  62.800000   0.0   0.000000
Örebro SK                     0.0  60.750000   0.000000   0.0  63.000000
Östersunds FK                67.0  76.000000   0.000000  77.0  56.333333
Śląsk Wrocław                 0.0  62.000000  66.666667   0.0  72.000000

                                                             ...             \
Position                      GK LAM         LB   LCB   LCM  ...         RB
Club                                                         ...
 SSV Jahn Regensburg   33.000000   0  76.000000   0.0   0.0  ...  68.500000
1. FC Heidenheim 1846  41.000000   0  60.000000  55.0   0.0  ...  80.500000
1. FC Kaiserslautern   42.666667   0  68.000000  45.0   0.0  ...  71.500000
1. FC Köln             33.000000   0   0.000000   0.0   0.0  ...  70.000000
1. FC Magdeburg        39.333333   0  69.000000  60.0  66.0  ...   0.000000
...                          ...  ..        ...   ...   ...  ...        ...
Zagłębie Sosnowiec     39.000000   0  60.333333  61.0   0.0  ...  68.000000
Çaykur Rizespor        47.000000   0  75.500000  63.0   0.0  ...  68.666667
Örebro SK              33.666667   0   0.000000  58.0  44.0  ...   0.000000
Östersunds FK          32.666667   0  74.500000  53.0  62.0  ...  54.000000
Śląsk Wrocław          30.666667   0  78.500000  59.0   0.0  ...  50.500000


Position                RCB RCM   RDM RF         RM  RS    RW   RWB         ST
Club
 SSV Jahn Regensburg   57.0   0  65.0  0   0.000000   0   0.0   0.0  61.666667
1. FC Heidenheim 1846  59.0   0   0.0  0  78.333333   0   0.0   0.0  69.000000
1. FC Kaiserslautern    0.0   0  55.0  0  82.500000  69   0.0   0.0  79.000000
1. FC Köln              0.0   0   0.0  0  77.000000   0   0.0   0.0   0.000000
1. FC Magdeburg        68.0  71   0.0  0  76.000000  53  80.5   0.0  44.000000
...                     ...  ..   ... ..        ...  ..   ...   ...        ...
Zagłębie Sosnowiec     58.0   0  62.0  0  71.000000   0   0.0   0.0  75.000000
Çaykur Rizespor         0.0   0  32.0  0  85.000000   0   0.0   0.0  48.000000
Örebro SK              62.0  66   0.0  0   0.000000   0  77.5  72.0  72.200000
Östersunds FK          73.0   0   0.0  0  85.000000   0  67.0   0.0  52.000000
Śląsk Wrocław          58.0   0  69.0  0  68.000000  81   0.0   0.0  54.000000

[650 rows x 27 columns]

In [42]:
pivot = df.pivot_table(columns='Position', index='Club', values='SprintSpeed', aggfunc='mean',fill_value=0)
pivot['ST'].sort_values(ascending=False).head(3)

Club
Vitória      91.0
Sydney FC    88.0
CD Lugo      87.0
Name: ST, dtype: float64

In [43]:
pivot = df.pivot_table(columns='Position', index='Club', values='SprintSpeed', aggfunc='mean',fill_value=0)
pivot

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0.0,46.600000,82.000000,0.0,61.000000,33.000000,0,76.000000,0.0,0.0,...,68.500000,57.0,0,65.0,0,0.000000,0,0.0,0.0,61.666667
1. FC Heidenheim 1846,68.0,61.333333,0.000000,0.0,68.000000,41.000000,0,60.000000,55.0,0.0,...,80.500000,59.0,0,0.0,0,78.333333,0,0.0,0.0,69.000000
1. FC Kaiserslautern,0.0,59.000000,65.666667,0.0,0.000000,42.666667,0,68.000000,45.0,0.0,...,71.500000,0.0,0,55.0,0,82.500000,69,0.0,0.0,79.000000
1. FC Köln,0.0,60.000000,32.000000,0.0,68.500000,33.000000,0,0.000000,0.0,0.0,...,70.000000,0.0,0,0.0,0,77.000000,0,0.0,0.0,0.000000
1. FC Magdeburg,0.0,60.000000,0.000000,64.0,0.000000,39.333333,0,69.000000,60.0,66.0,...,0.000000,68.0,71,0.0,0,76.000000,53,80.5,0.0,44.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zagłębie Sosnowiec,73.0,46.500000,66.000000,0.0,0.000000,39.000000,0,60.333333,61.0,0.0,...,68.000000,58.0,0,62.0,0,71.000000,0,0.0,0.0,75.000000
Çaykur Rizespor,74.0,58.000000,62.800000,0.0,0.000000,47.000000,0,75.500000,63.0,0.0,...,68.666667,0.0,0,32.0,0,85.000000,0,0.0,0.0,48.000000
Örebro SK,0.0,60.750000,0.000000,0.0,63.000000,33.666667,0,0.000000,58.0,44.0,...,0.000000,62.0,66,0.0,0,0.000000,0,77.5,72.0,72.200000
Östersunds FK,67.0,76.000000,0.000000,77.0,56.333333,32.666667,0,74.500000,53.0,62.0,...,54.000000,73.0,0,0.0,0,85.000000,0,67.0,0.0,52.000000
Śląsk Wrocław,0.0,62.000000,66.666667,0.0,72.000000,30.666667,0,78.500000,59.0,0.0,...,50.500000,58.0,0,69.0,0,68.000000,81,0.0,0.0,54.000000

In [44]:
pivot = df.pivot_table(columns='Position', index='Club', values='SprintSpeed', aggfunc='mean',fill_value=0)
pivot.max().sort_values(ascending=False)

Position
RS     94.0
RM     94.0
LM     94.0
LS     93.0
RB     93.0
LB     93.0
CF     91.0
LW     91.0
ST     91.0
RDM    91.0
RW     91.0
RCM    90.0
CAM    89.0
LF     88.0
RCB    88.0
LCB    88.0
RWB    86.0
RF     86.0
CM     86.0
LWB    86.0
LAM    85.0
LCM    84.0
CDM    83.0
LDM    79.0
RAM    78.0
CB     78.0
GK     62.0
dtype: float64