In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1828,tt0164052,95000000,190213455,Hollow Man,Elisabeth Shue|Kevin Bacon|Josh Brolin|Kim Dic...,Paul Verhoeven,What would you do if you knew you couldn't be ...,Cocky researcher Sebastian Caine is working on...,112,Action|Science Fiction|Thriller,Columbia Pictures Corporation|Global Entertain...,8/4/2000,5.3,2000
85,tt1355683,53000000,99775678,Black Mass,Johnny Depp|Joel Edgerton|Benedict Cumberbatch...,Scott Cooper,Keep your enemies close.,"The true story of Whitey Bulger, the brother o...",122,Crime|Drama,Infinitum Nihil|Head Gear Films|Cross Creek Pi...,9/4/2015,6.3,2015
1288,tt1821549,12000000,17654912,Nebraska,Bruce Dern|Will Forte|Bob Odenkirk|June Squibb...,Alexander Payne,Life's not about winning or losing. It's about...,"An aging, booze-addled father takes a trip fro...",115,Drama|Adventure,Paramount Vantage|Bona Fide Productions,9/21/2013,7.3,2013
1495,tt0455590,6000000,48027970,The Last King of Scotland,Forest Whitaker|James McAvoy|Simon McBurney|Gi...,Kevin Macdonald,Charming. Magnetic. Murderous.,"Young Scottish doctor, Nicholas Garrigan decid...",121,Drama,Fox Searchlight Pictures|Cowboy Films|DNA Film...,9/1/2006,7.3,2006
1103,tt0266465,36000000,44350926,A Man Apart,Vin Diesel|Larenz Tate|Timothy Olyphant|Geno S...,F. Gary Gray,Love changes a man. Revenge tears him apart.,When Vetter's wife is killed in a botched hit ...,109,Action|Drama,New Line Cinema|Newman/Tooley Films|Joseph Nit...,4/4/2003,5.7,2003

# Предобработка

In [13]:
from typing import List, Callable
from collections import Counter

answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:

##
# My functions here
#

# Create empty (None) Counter obj
# just to reserve a place
# the conter will be used below
counter:Counter = None
    
def split_str_by_pipe(str_pipe: str) -> List[str]:
    return split_str_by_char(str_pipe, '|')

def split_str_by_char(str_ch: str, char: str) -> List[str]:
    """
    Split the str_pipe (pipe's delimeted string) and return
    list of trimed string    
    """
    if str_ch is not None and len(str_ch) > 0:
        return [ s.strip('\n\r\t ') for s in str_ch.split(char)]

    return []
#     def transform_row(r):
#     r.animal = 'wild ' + r.type
#     r.type = r.animal + ' creature'
#     r.age = "{} year{}".format(r.age, r.age > 1 and 's' or '')
#     return r

# df.apply(transform_row, axis=1)
# def modify_row(row, field_name, func: Callable):
#     print(row[field_name])
#     coumn_names = func(str(row[field_name]))
#     for c in coumn_names:
#         row[c] = 1

    
# def fill_conter(str_pipe: str, func: Callable, counter:Counter):
#     counter.update(func(str_pipe))
    

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1.
# Create profit_data DF with special 'profit' column 
profit_data = data.copy()
profit_data['profit'] = profit_data[['revenue','budget']] \
                        .apply(lambda row: row['revenue'] - row['budget'], axis=1 )

In [4]:
## Test
##

# c = Counter()

# fill_conter('Saoirse Ronan|Diane Kruger|Jake Abel|William H', split_str_by_pipe, c)
# fill_conter('Saoirse Ronan|Diane Kruger|Jake Abel|William H', split_str_by_pipe, c)
# fill_conter('Bradley Cooper|Ed Helms|Zach Galifianakis|Just', split_str_by_pipe, c)

# list(c)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data['budget']==data['budget'].max()]['original_title'].values[0]
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
answers['1'] = data.loc[data['budget'].idxmax()]['original_title']
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data.loc[data['runtime'].idxmax()]['original_title']
answers['2']

'Gods and Generals'

In [9]:
answers['2'] = data.sort_values('runtime', ascending=False).iloc[0]['original_title']
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = data.loc[data['runtime'].idxmin()]['original_title']
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = data['runtime'].mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = data['runtime'].median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# see above data['profit'] = data[['revenue','budget']].apply(lambda row: row['revenue'] - row['budget'], axis=1 )
answers['6'] = profit_data.loc[profit_data['profit'].idxmax()]['original_title']
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = profit_data.loc[profit_data['profit'].idxmin()]['original_title']
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = profit_data[profit_data['profit'] > 0 ].shape[0]
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
answers['9'] = profit_data.loc[profit_data[profit_data['release_year'] == 2008 ]['profit'].idxmax()]['original_title']
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = data.loc[data[data['release_year'].between(2012, 2014, inclusive=True)]['profit'].idxmin()]['original_title']
answers['10']

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# Step 1 create counter and get
# the most common element
ganre_counter = Counter()

data['genres'].apply(lambda g: fill_conter(str(g), split_str_by_pipe, ganre_counter))

ganre_counter.most_common(1)

ВАРИАНТ 2

In [ ]:
# step 1 copy exist DF
ganre_data = data.copy()

# step 2 update df with 'ganre' columns
# if ganre is found set value 1 
for g in list(ganre_counter):
    ganre_data[g] = ganre_data['genres'].apply(lambda c: 1 if g in split_str_by_pipe(str(c)) else 0)
    
ganre_data[list(ganre_counter)].sum().idxmax()

ВАРИАНТ 3

In [ ]:
# step 1 copy exist DF
ganre_data = data.copy()
# prepere for explode
ganre_data['list_genre'] = ganre_data['genres'].apply(lambda c: split_str_by_pipe(str(c)))
# calculate
ganre_data.explode('list_genre')['list_genre'].value_counts().idxmax()

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
# step 1 copy exist DF
ganre_data = data.copy()

# step 2 update df with 'ganre' columns
# if ganre is found set value 1 
for g in list(ganre_counter):
    ganre_data[g] = ganre_data['genres'].apply(lambda c: 1 if g in split_str_by_pipe(str(c)) else 0)
    
ganre_data[ganre_data['profit']>0][list(ganre_counter)].sum().idxmax()

In [ ]:
# step 1 copy exist DF
ganre_data = data.copy()
# prepere for explode
ganre_data['list_genre'] = ganre_data['genres'].apply(lambda c: split_str_by_pipe(str(c)))
# calculate
ganre_data = ganre_data.explode('list_genre')
ganre_data[ganre_data['profit'] > 0]['list_genre'].value_counts().idxmax()

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [ ]:
# step 1 copy exist DF
director_data = data.copy()
# prepere for explode
director_data['list_director'] = director_data['director'].apply(lambda c: split_str_by_pipe(str(c)))
# calculate
director_data.explode('list_director').groupby('list_director')['revenue'].apply(sum).idxmax()

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
# step 1 copy exist DF
director_ganre_data = data.copy()
# prepere for explode
director_ganre_data['list_director'] = director_ganre_data['director'].apply(lambda c: split_str_by_pipe(str(c)))
director_ganre_data['list_genre'] = director_ganre_data['genres'].apply(lambda c: split_str_by_pipe(str(c)))

director_ganre_data = director_ganre_data.explode('list_director').explode('list_genre')

director_ganre_data[director_ganre_data['list_genre']=='Action']['list_director'].value_counts().idxmax()

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
# step 1 copy exist DF
cast_data = data.copy()
cast_data['list_cast'] = cast_data['cast'].apply(lambda c: split_str_by_pipe(str(c)))
cast_data = cast_data.explode('list_cast')
# cats_data
cast_data[cast_data['release_year']==2012].groupby('list_cast')['revenue'].apply(sum).idxmax()

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
# step 1 copy exist DF
cast_data = data.copy()
cast_data['list_cast'] = cast_data['cast'].apply(lambda c: split_str_by_pipe(str(c)))
cast_data = cast_data.explode('list_cast')
# cats_data
cast_data[cast_data['budget'] > cast_data['budget'].mean()]['list_cast'].value_counts().idxmax()

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
cast_ganre_data = data.copy()

cast_ganre_data['list_cast'] = cast_ganre_data['cast'].apply(lambda c: split_str_by_pipe(str(c)))
cast_ganre_data['list_genre'] = cast_ganre_data['genres'].apply(lambda c: split_str_by_pipe(str(c)))

cast_ganre_data = cast_ganre_data.explode('list_cast').explode('list_genre')

cast_ganre_data[cast_ganre_data['list_cast']=='Nicolas Cage']['list_genre'].value_counts().idxmax()

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
production_companies_data = data.copy()
production_companies_data['list_companies'] = production_companies_data['production_companies'].apply(lambda c: split_str_by_pipe(str(c)))

production_companies_data = production_companies_data.explode('list_companies')

production_companies_data[(production_companies_data['list_companies']=='Paramount Pictures')]. \
sort_values('profit', ascending=True). \
iloc[0]['original_title']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
data.groupby('release_year')['revenue'].apply(sum).idxmax()

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
production_companies_data = data.copy()
production_companies_data['list_companies'] = production_companies_data['production_companies'].apply(lambda c: split_str_by_pipe(str(c)))

production_companies_data = production_companies_data.explode('list_companies')
# production_companies_data
production_companies_data[(production_companies_data['list_companies'].str.startswith('Warner Bros'))]. \
groupby('release_year')['profit'].apply(sum).idxmax()

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
month_data = data.copy()
month_data['month'] = month_data['release_date'].apply(lambda c: int(split_str_by_char(str(c),'/')[0]))
month_data.groupby('month')['original_title'].nunique().idxmax()

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
month_data = data.copy()
month_data['month'] = month_data['release_date'].apply(lambda c: int(split_str_by_char(str(c),'/')[0]))
month_data[month_data['month'].isin([6,7,8])].shape[0]

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
month_director_data = data.copy()
month_director_data['list_director'] = month_director_data['director'].apply(lambda c: split_str_by_pipe(str(c)))
month_director_data = month_director_data.explode('list_director')
month_director_data['month'] = month_data['release_date'].apply(lambda c: int(split_str_by_char(str(c),'/')[0]))
month_director_data = month_director_data[month_director_data['month'].isin([1,2,12])]
month_director_data['list_director'].value_counts().idxmax()

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
# OK
#original_title
title_data = data.copy()
title_data['title_lenght'] = title_data['original_title'].apply(lambda c: len(str(c)))
title_data['list_companies'] = title_data['production_companies'].apply(lambda c: split_str_by_pipe(str(c)))
title_data = title_data.explode('list_companies')
title_data.groupby('list_companies')['title_lenght'].mean().idxmax()
# title_data[title_data['title_lenght'] > title_data['title_lenght'].mean()]['list_companies'].value_counts().idxmax()

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
# OK
# overview
tagline_data = None
overview_data = data.copy()
overview_data['overview_words_cnt'] = overview_data['overview'].apply(lambda c: len(split_str_by_char(str(c), ' ')))
overview_data['list_companies'] = overview_data['production_companies'].apply(lambda c: split_str_by_pipe(str(c)))
overview_data = overview_data.explode('list_companies')
overview_data.groupby('list_companies')['overview_words_cnt'].mean().idxmax()
# tagline_data[tagline_data['title_words'] > tagline_data['title_words'].mean()]['list_companies'].value_counts().idxmax()

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [ ]:
# OK
# vote_average
# data[data['vote_average'] >= data['vote_average'].quantile(0.99)] \
# .sort_values('vote_average', ascending=False)[['original_title']] \
# .head(10)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [ ]:
# OK
import itertools
data27=pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].str.split('|')
data_p = data27['cast'].reset_index()
data_p['pairs'] = data_p['cast'].apply(lambda s: list(itertools.combinations(s, 2)))
data_p
data_p = data_p.explode('pairs').reset_index()
Counter(data_p['pairs']).most_common(1)

In [ ]:
# # step 1 copy exist DF
# cast_data = data.copy()
# cast_data['list_cast'] = cast_data['cast'].apply(lambda c: split_str_by_pipe(str(c)))
# cast_data = cast_data.explode('list_cast')
# # cats_data
# # cast_data[cast_data['budget'] > cast_data['budget'].mean()]['list_cast'].value_counts().idxmax()
# cast_data

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)

In [11]:
ls -al

total 0
drwxr-xr-x   2 lissdx  staff   64 Nov  7 11:59 ./
drwxr-xr-x  10 lissdx  staff  320 Nov  7 11:59 ../