In [1]:
import numpy as np
import pandas as pd

In [3]:
data=[23, 45, 23, 44, 34, 56, 54, 12, 11, 44, 44, 31, 4,
30, 20, 49, 38, 48, 38, 40, 36, 41, 33, 47, 32]
df = pd.DataFrame(np.array(data),columns = ['deal_cnt'])
df

    deal_cnt
0         23
1         45
2         23
3         44
4         34
5         56
6         54
7         12
8         11
9         44
10        44
11        31
12         4
13        30
14        20
15        49
16        38
17        48
18        38
19        40
20        36
21        41
22        33
23        47
24        32

In [9]:
df.head()

   deal_cnt
0        23
1        45
2        23
3        44
4        34

In [15]:
# df.moda().values[0]
mean, median, moda = df.mean().values[0], df.median().values[0], df['deal_cnt'].value_counts().idxmax() 
mean, median, moda

(35.08, 38.0, 44)

In [10]:
df['deal_cnt'].value_counts()

44    3
23    2
38    2
31    1
33    1
34    1
41    1
4     1
40    1
36    1
11    1
45    1
30    1
12    1
47    1
48    1
49    1
20    1
54    1
56    1
32    1
Name: deal_cnt, dtype: int64

In [19]:
# (6+10+7+12+x) / 5 = 8.2
# 6+10+7+12 + x = 16.4
41 - 6 - 10 - 7 - 12

6

In [25]:
d=pd.DataFrame(np.array([4,5,3,4,2,5,5]), columns=['mark'])
d

   mark
0     4
1     5
2     3
3     4
4     2
5     5
6     5

In [28]:
d.mean().values[0], d.median().values[0], d['mark'].value_counts().idxmax()

(4.0, 4.0, 5)

In [29]:
df = pd.DataFrame({
    'mens': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [31]:
# df.mean().values[0]
df.head(3)

   mens  womens
0  80.2    57.9
1  80.8    57.3
2  57.5    72.8

In [33]:
df['mens'].mean() - df['womens'].mean()

12.469999999999999

In [36]:
a1 = np.array([2,7,4,3,6,4,1,2])
a2 = np.array([5,2,4,8,1,6,7])
pd.DataFrame(a1)[0].median(), pd.DataFrame(a2)[0].median()

(3.5, 5.0)

In [37]:
df = pd.DataFrame({
    'mens': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [39]:
df['mens'].median(),df['womens'].median()

(75.6, 57.599999999999994)

In [41]:
df['mens'] + df['womens']

0    138.1
1    138.1
2    130.3
3    146.2
4    110.0
5    122.1
6    138.6
7    113.6
8    131.8
9    123.3
dtype: float64

In [43]:
df = pd.DataFrame({
    'patients': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6, 57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})
df['patients'].median()

59.6

In [31]:
# df=pd.DataFrame(np.array([2,7,4,3,6,4,1,2,5,2,4,8,1,6,7]))
l1=[2,7,4,3,6,4,1,2]
l2=[5,2,4,8,1,6,7]
l1.sort()
l2.sort()
len(l1),len(l2)

(8, 7)

In [77]:
q_l1_ind_2 = int((len(l1)) / 2) - 1, int((len(l1)) / 2)
q_l1_ind_1 = int(len(l1[:q_l1_ind_2[0] + 1]) / 2) - 1, int(len(l1[:q_l1_ind_2[0] + 1]) / 2)
q_l1_ind_3 = q_l1_ind_2[1] + int(len(l1[:q_l1_ind_2[1]:]) / 2) - 1, \
             q_l1_ind_2[1] + int(len(l1[q_l1_ind_2[1]:]) / 2)
q_l1_ind_1, q_l1_ind_2, q_l1_ind_3

((1, 2), (3, 4), (5, 6))

In [78]:
q_l2_ind_2 = int((len(l2) - 1) / 2)
q_l2_ind_1 = int((len(l[:q_l2_ind_2]) - 1) / 2)
q_l2_ind_3 = q_l2_ind_2 + 1 + int((len(l2[q_l2_ind_2 + 1:]) - 1) / 2)
q_l2_ind_1, q_l2_ind_2, q_l2_ind_3

(1, 3, 5)

In [75]:
(l1[q_l1_ind_1[0]] + l1[q_l1_ind_1[1]]) / 2, \
(l1[q_l1_ind_2[0]] + l1[q_l1_ind_2[1]]) / 2, \
(l1[q_l1_ind_3[0]] + l1[q_l1_ind_3[1]])

(2.0, 3.5, 10)

In [76]:
(l2[q_l2_ind_1]), \
(l2[q_l2_ind_2]), \
(l2[q_l2_ind_3])

(2, 5, 7)

Pandas Quantile

In [80]:
df = pd.DataFrame({
    'mens': [80, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [84]:
df.quantile([.25, .75],axis=0, numeric_only=True,  interpolation='midpoint')

       mens  womens
0.25  58.60   53.90
0.75  78.95   60.35

In [88]:
round(78.95,1)

79.0

In [90]:
round(58.6,1) - round(53.9,1)

4.700000000000003