In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})
df.head(3)

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8

In [11]:
men_range = df['men'].max() - df['men'].min()
round(men_range,1)

47.5

In [18]:
men_irq = df['men'].quantile(q=0.75,   interpolation='midpoint') - \
df['men'].quantile(q=0.25,  interpolation='midpoint')
round(men_irq,1)

20.5

In [13]:
women_range = df['women'].max() - df['women'].min()
round(women_range, 1)

24.6

In [19]:
women_irq=df['women'].quantile(q=0.75,   interpolation='midpoint') - \
df['women'].quantile(q=0.25,  interpolation='midpoint')
round(women_irq,1)

6.5

In [23]:
men_std = df['men'].std()
round(men_std, 1)

15.2

In [22]:
women_std = df['women'].std()
round(women_std, 1)

8.3

In [24]:
men_var = df['men'].var()
round(men_var, 1)

230.5

In [25]:
women_var = df['women'].var()
round(women_var, 1)

68.4

ВЫБРОСЫ

In [32]:
df = pd.DataFrame({
    'men':[80.2,80.8,57.5,98,50.5,73.8,77.4,59.7,77.9,52.6],
    'women':[57.9,57.3,72.8,48.2,59.5,48.3,61.2,53.9,53.9,70.7]
})
df.head(3)

    men  women
0  80.2   57.9
1  80.8   57.3
2  57.5   72.8

In [43]:
men_q1 = df['men'].quantile(q=0.25,   interpolation='midpoint')
men_q3 = df['men'].quantile(q=0.75,   interpolation='midpoint')
men_irq = round(men_q3 - men_q1, 2)
women_q1 = df['women'].quantile(q=0.25,   interpolation='midpoint')
women_q3 = df['women'].quantile(q=0.75,   interpolation='midpoint')
women_irq=round(women_q3 - women_q1, 2)
men_irq, women_irq

(20.45, 6.45)

In [44]:
df[df['men'] > men_q3 + men_irq * 1.5 ]['men']

Series([], Name: men, dtype: float64)

In [45]:
df[df['men'] < men_q1 - men_irq * 1.5 ]['men']

Series([], Name: men, dtype: float64)

In [47]:
df[df['women'] < men_q1 - women_irq * 1.5 ]['women']

3    48.2
5    48.3
Name: women, dtype: float64

In [48]:
df[df['women'] > men_q3 + women_irq * 1.5 ]['women']

Series([], Name: women, dtype: float64)

Задание 1.10.2

In [49]:
import pandas as pd
df = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'temp': [-4.7, -6.1, -5.5, -3.3, -7.1, -3.1, -5.2, -7.3, -12.1, -6.6, -5.9, -6.3]
})
df.head(3)

   year  temp
0  2007  -4.7
1  2008  -6.1
2  2009  -5.5

In [51]:
mean_t = df['temp'].mean()
round(mean_t,1)

-6.1

In [53]:
median_t = df['temp'].median()
round(median_t,1)

-6.0

In [54]:
std_t = df['temp'].std()
round(std_t, 1)

2.3

In [55]:
rng = df['temp'].max() - df['temp'].min()
round(rng, 1)

9.0

In [56]:
irq_t = df['temp'].quantile(q=0.75,   interpolation='midpoint') - \
df['temp'].quantile(q=0.25,  interpolation='midpoint')
round(irq_t,1)

1.9

In [57]:
q1_t = df['temp'].quantile(q=0.25,   interpolation='midpoint')
q3_t = df['temp'].quantile(q=0.75,   interpolation='midpoint')
irq_t = round(q3_t - q1_t, 1)
irq_t

1.9

In [58]:
df[df['temp'] > q3_t + irq_t * 1.5 ]['temp']

Series([], Name: temp, dtype: float64)

In [60]:
df[df['temp'] < q1_t - irq_t * 1.5 ]

   year  temp
8  2015 -12.1